@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('data/img/background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
}

.content {
    font-family: 'Fanwood Text', serif;
    padding-top: 50px;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 48px;
    margin: 0 150px 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    font-family: 'Fanwood Text', serif;
}

.recipe {
    display: block;
    margin: 0 5px 2px 5px;
    text-align: center;
    max-width: 350px;
    height: min-content;
    background-color: rgba(255, 255, 255, 0);
}

.img-wrapper {
    display: block;
    float: left;
    width: 350px;
    height: 225px;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
}

.img-container {
    width: 350px;
    height: 225px;
    cursor: pointer;
}

.recipe-img {
    /*remove empty space under the image*/
    vertical-align: bottom;
    object-fit: cover;
    width: 400px;
}

.recipe-link {
}

.checkbox {
    position: absolute;
    right: 9px;
    top: 9px;
    transform: scale(3);
    /*outline: 0.13em solid white;*/
    cursor: default;
    width: 12px;
    height: 12px;
}

.recipe-info {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.recipe-title {
    color: #996113;
    font-size: 24px;
    font-weight: bold;
}

p.recipe-title {
    margin: 0;
    padding: 10px 5px 5px 5px;
    line-height: 30px;
}

.recipe-description {
    color: black;
    font-size: 19px;
    text-align: center;
    padding: 5px 5px 2px 5px;
    margin: 0;
}

@media only screen and (max-width: 1395px) {
    .recipe-container {
        margin: 0;
        padding-top: 48px;
    }
}

@media only screen and (max-width: 735px) {
    .content {
        margin: 0;
    }

    .recipe-container {
        margin: 0;
        padding-top: 1px;

    }

    .recipe {
        margin: 0 0 2px 0;
        text-align: center;
        max-width: unset;
        transition: unset;
        width: 100%;
    }

    .recipe-img {
        width: 100%;
    }

    .img-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .img-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}